### Create a class 'Product' has a parameterised construcor '__init__()' that takes 'name', 'price' and 'quantity' as parameters, inside the constructor these parameters are assigning to the corresponding instance variables 'self.name', 'self.price' and 'self.quantity'. The class also includes a 'display_info()' that prints information about the product, including its name, price and quantity.

In [ ]:
class Product:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def display_info(self):
        print(f"Product Name: {self.name}")
        print(f"Price: ${self.price}")
        print(f"Quantity: {self.quantity}")

# Example usage:
product1 = Product("Laptop", 999.99, 5)
product1.display_info()

### In a class representing a Book, how can a non-parameterized constructor be used to set default values for attributes such as title, author, and publication year?(initialize variables within a non parameterized constructor)

In [ ]:
class Book:
    def __init__(self):
        # Default values for attributes
        self.title = "Unknown Title"
        self.author = "Unknown Author"
        self.publication_year = "Unknown Year"

    def display_info(self):
        print(f"Title: {self.title}")
        print(f"Author: {self.author}")
        print(f"Publication Year: {self.publication_year}")

# Example usage:
book1 = Book()
book1.display_info()

### How a non-parameterized constructor can be used in a class representing a Game to set default values for attributes such as score, level, and player name. (initialize variables as a class variables)

In [1]:
class Game:
    # Class attributes with default values
    default_score = 0
    default_level = 1
    default_player_name = "Player"

    def __init__(self):
        # Instance attributes initialized with class attributes
        self.score = Game.default_score
        self.level = Game.default_level
        self.player_name = Game.default_player_name

    def display_info(self):
        print(f"Player Name: {self.player_name}")
        print(f"Score: {self.score}")
        print(f"Level: {self.level}")

# Example usage:
game1 = Game()
game1.display_info()

Player Name: Player
Score: 0
Level: 1

### Create a Student Management System

**1). Create a class named Student with the following attributes:**
- name (string): to store the student's name.
- age (integer): to store the student's age.
- grade (integer): to store the student's grade.

**2). Implement the following methods in the Student class:**
- display_info(): This method should display the student's name, age, and grade.
- promote(): This method should promote the student to the next grade level. For example, if a student is in grade "9", calling this method should update the grade to "10".

**3). Create an instance of the Student class and demonstrate the functionality of the methods by performing the following actions:**
- Set the student's name, age, and grade using appropriate attributes.
- Display the student's information.
- Promote the student.
- Display the updated student's information.

In [ ]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Grade: {self.grade}")

    def promote(self):
        self.grade += 1

# Create an instance of the Student class
student1 = Student("John Doe", 15, 9)

# Display the student's information
print("Student Information:")
student1.display_info()

# Promote the student
student1.promote()

# Display the updated student's information
print("\nUpdated Student Information:")
student1.display_info()

### Bank Account Management System

**1. Create a class named BankAccount with the following attributes:**
- account_number (string): to store the account number.
- account_holder (string): to store the name of the account holder.
- balance (float): to store the current balance of the account.

**2. Implement the following methods in the BankAccount class:**
- display_account_info(): This method should display the account number, account holder, and current balance.
- deposit(amount): This method should take an amount as input and add it to the account's balance.

**3. Create an instance of the BankAccount class and demonstrate the functionality of the methods by performing the following actions:**
- Set the account number and account holder using appropriate attributes.
- Display the account information.
- Deposit a specific amount.
- Display the updated account information.

In [2]:
class BankAccount:
    def __init__(self, account_number, account_holder, balance):
        self.account_number = account_number
        self.account_holder = account_holder
        self.balance = balance

    def display_account_info(self):
        print(f"Account Number: {self.account_number}")
        print(f"Account Holder: {self.account_holder}")
        print(f"Current Balance: ${self.balance:.2f}")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount:.2f} successfully.")
        else:
            print("Invalid deposit amount. Please enter a positive amount.")

# Create an instance of the BankAccount class
account1 = BankAccount("1234567890", "John Doe", 1000.00)

# Display the account information
print("Account Information:")
account1.display_account_info()

# Deposit a specific amount
account1.deposit(500.50)

# Display the updated account information
print("\nUpdated Account Information:")
account1.display_account_info()

Account Information:
Account Number: 1234567890
Account Holder: John Doe
Current Balance: $1000.00
Deposited $500.50 successfully.

Updated Account Information:
Account Number: 1234567890
Account Holder: John Doe
Current Balance: $1500.50

### 1. Create a superclass called Vehicle with the following Attributes and Methods:

**Attributes:** 
- brand (string): The brand or manufacturer of the vehicle.
- color (string): The color of the vehicle.

**Methods:**
- init(self, brand, color): Initialise the brand and color attributes.
- drive(self): Print a message indicating that the vehicle is being driven.

### 2. Create a subclass called Car that inherits from the Vehicle superclass. The Car class should have the following additional Attributes and Methods:

**Attributes:**
- num_doors (integer): The number of doors the car has.

**Methods:**
- display_info(self): Print a message displaying the car's brand, color, and number of doors.

**Create an instance of the Car class, initialise it with appropriate values, and demonstrate the usage of inherited methods.**

In [ ]:
class Vehicle:
    def __init__(self, brand, color):
        self.brand = brand
        self.color = color

    def drive(self):
        print(f"The {self.color} {self.brand} is being driven.")

class Car(Vehicle):
    def __init__(self, brand, color, num_doors):
        super().__init__(brand, color)
        self.num_doors = num_doors

    def display_info(self):
        print(f"Car Information:")
        print(f"Brand: {self.brand}")
        print(f"Color: {self.color}")
        print(f"Number of Doors: {self.num_doors}")

# Create an instance of the Car class
my_car = Car("Toyota", "Blue", 4)

# Demonstrate the usage of inherited methods
my_car.drive()

# Use the subclass-specific method
my_car.display_info()

1. Implement the classes and methods based on the given requirements. 
2. Create instances of the classes and demonstrate the functionality by calling appropriate methods. 
3. Test your implementation by displaying the area of each class.

**Create a Rectangle Class having following Attributes and Methods:**

**Attributes:** 
- length (float), width (float)

**Methods:**
- area(): A method that calculates and returns the area of the rectangle.

**Create a Circle Class having following Attributes and Methods:**

**Attributes:** 
- radius (float)

**Methods:** 

- area(): A method that calculates and returns the area of the circle.

**Create a Triangle Class having following Attributes and Methods:**

**Attributes:**
- base (float), height (float)

**Methods:**

- area(): A method that calculates and returns the area of the triangle.

**Create objects of each class and demonstrate the polymorphic behaviour of the area() method.**

In [ ]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Triangle:
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

# Create objects of each class
rectangle = Rectangle(10, 5)
circle = Circle(10)
triangle = Triangle(10, 5)

# Demonstrate the polymorphic behavior of the area() method
print("Area of rectangle:", rectangle.area())
print("Area of circle:", circle.area())
print("Area of triangle:", triangle.area())

**Create a National Flag using Tkinter in Python.**
1. Use Widgets like Frame, Labels etc. 
2. Add Ashoka Chakra using .jpg image format

In [ ]:
from tkinter import *
from PIL import Image,ImageTk

root = Tk()
root.geometry("600x400")
root.title("National Flag")

f1=Frame(root,bg="Orange",borderwidth=6)
f1.pack(side=TOP,fill=X)

a = Label(f1,bg="Orange",height=15)
a.pack(side=TOP)

image = Image.open("chakra.png")

resize_photo = image.resize((300,300))

photo = ImageTk.PhotoImage(resize_photo)

lable = Label(image=photo)
lable.place(x=580,y=250)


f3=Frame(root,bg="Green",borderwidth=6)
f3.pack(side=BOTTOM,fill=X)

b = Label(f3,bg="Green",height=15)
b.pack(side=BOTTOM)

root.mainloop()

### Write a program to create a class name Bike create method called starting prints “bike will start moving now” create object shine and call this method.

In [ ]:
class Bike:
    def starting(self):
        print("Bike will start moving now")

shine = Bike()
shine.starting()

### Write a program to create a class name Cars create one attribute name car_name, attribute having default value Creta, class Cars having one method called display which prints the value of attribute car_name, create object car1 and call display method.

In [ ]:
class Cars:
    # Default value for the car_name attribute
    car_name = "Creta"
    
    def display(self):
        print(f"{self.car_name}")
        
car1 = Cars()
car1.display()

### Create class with name Employee create one attribute name called Count create three objects and count the number of objects in the class and print it.

In [ ]:
class Employee:
    count = 0
    
    def __init__(self):
        Employee.count = Employee.count + 1

employee1 = Employee()
employee2 = Employee()
employee3 = Employee()

print("The numbers of Employee:",Employee.count)

### Give a suitable example of non-parameterized constructor.

In [ ]:
class Book:
    def __init__(self):
        self.title = "Stranger Things"
        self.author = "Mate Duffer"
        self.publication_year = 2020

    def get_info(self):
        print(f"Book title is {self.title}, author name is {self.author}, and publication year is {self.publication_year}.")

book = Book()
book.get_info()

#### The __init__ method does not take any parameters other than self. It initializes the attributes title, author, and publication_year with default values. Therefore, it is a non-parameterized constructor.

### Give an example of multilevel inheritance where class Smartwatch inherit class Tab, class Tab inherit class Laptop, class Laptop inherit class Desktop, each class having one method name like display1, display2, display3, display4, and print class name inside method, create one object of a class which can access all display methods and call through this object.

In [3]:
class Desktop:
    def display1(self):
        print("Inside display1 method of Desktop class")
        
class Laptop(Desktop):
    def display2(self):
        print("Inside display2 method of Laptop class")
        
class Tab(Laptop):
    def display3(self):
        print("Inside display3 method of Tab class")
        
class Smartwatch(Tab):
    def display4(self):
        print("Inside display4 method of Smartwatch class")
    
device = Smartwatch()

device.display1()
device.display2()
device.display3()
device.display4()

Inside display1 method of Desktop class
Inside display2 method of Laptop class
Inside display3 method of Tab class
Inside display4 method of Smartwatch class

### Demonstrate the mysql connection from python connect database name “University”, create new table car which having column name (car_id, car_model, car_type) where all three column type will be varchar(50).

In [11]:
! pip install mysql-connector-python
import mysql.connector as sql

Requirement already satisfied: mysql-connector-python in c:\users\nisar\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\nisar\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [12]:
# Establishing a connection to the MySQL database
connection = sql.connect(
    host="localhost",
    user="root",
    password="11111111"
)

In [13]:
cursor = connection.cursor()

In [14]:
# Create a new database named 'demo13'
cursor.execute("CREATE DATABASE University")

In [15]:
cursor.execute("USE University")

In [16]:
cursor.execute('''
CREATE TABLE car (
    car_id VARCHAR(50),
    car_model VARCHAR(50),
    car_type VARCHAR(50)
)
''')

In [17]:
cursor.execute('''
INSERT INTO car (car_id, car_model, car_type) VALUES
    ("1", "Sedan1", "Compact"),
    ("2", "SUV1", "Mid-size"),
    ("3", "Hatchback1", "Small")
''')
connection.commit()

In [18]:
cursor.execute('''
SELECT * FROM car
''')
result= cursor.fetchall()
for row in result:
    print(row)

('1', 'Sedan1', 'Compact')
('2', 'SUV1', 'Mid-size')
('3', 'Hatchback1', 'Small')

In [ ]:
connection.close()

### Design a from using Tkinter framework which is having three label Printer id, Printer model, Company name and for the same having three textbox (Entry) for input value and one button which text is submit and when you click on button you get message “your data is submitted”.

In [21]:
import tkinter as tk
from tkinter import messagebox

def submit_data():
    printer_id = printer_id_entry.get()
    printer_model = printer_model_entry.get()
    company_name = company_name_entry.get()

    # You can perform further actions with the entered data here
    # For now, let's just show a messagebox
    messagebox.showinfo("Submission Successful", "Your data is submitted")

# Create the main Tkinter window
root = tk.Tk()
root.title("Printer Information Form")

# Create and place labels
label_printer_id = tk.Label(root, text="Printer ID:")
label_printer_id.grid(row=0, column=0, padx=10, pady=5, sticky=tk.E)

label_printer_model = tk.Label(root, text="Printer Model:")
label_printer_model.grid(row=1, column=0, padx=10, pady=5, sticky=tk.E)

label_company_name = tk.Label(root, text="Company Name:")
label_company_name.grid(row=2, column=0, padx=10, pady=5, sticky=tk.E)

# Create and place Entry widgets
printer_id_entry = tk.Entry(root)
printer_id_entry.grid(row=0, column=1, padx=10, pady=5)

printer_model_entry = tk.Entry(root)
printer_model_entry.grid(row=1, column=1, padx=10, pady=5)

company_name_entry = tk.Entry(root)
company_name_entry.grid(row=2, column=1, padx=10, pady=5)

# Create and place the Submit button
submit_button = tk.Button(root, text="Submit", command=submit_data)
submit_button.grid(row=3, column=0, columnspan=2, pady=10)

# Start the Tkinter event loop
root.mainloop()

### Demonstrate the mysql connection from python connect database name “Smartphone”, perform following task on it using python code.

### i. create new table Mobile which having column name (Model_id, Model_name, Company_name, price) where all four-column type will be varchar (50).

In [23]:
! pip install mysql-connector-python
import mysql.connector as sql

Requirement already satisfied: mysql-connector-python in c:\users\nisar\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\nisar\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [24]:
# Establishing a connection to the MySQL database
connection = sql.connect(
    host="localhost",
    user="root",
    password="11111111"
)

In [25]:
cursor = connection.cursor()

In [26]:
# Create a new database named 'demo13'
cursor.execute("CREATE DATABASE Smartphone")

In [27]:
cursor.execute("USE Smartphone")

In [28]:
cursor.execute('''
CREATE TABLE Mobile (
    mobile_id VARCHAR(50),
    mobile_name VARCHAR(50),
    company_name VARCHAR(50),
    price VARCHAR(50)
)
''')

### ii. Insert two data in the mobile table.

In [29]:
from tkinter import *
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="11111111",
    database="Smartphone"
)

cursor = conn.cursor()

def insert_data():
    mobile_id = mobile_id_entry.get()
    mobile_name = mobile_name_entry.get()
    company_name = company_name_entry.get()
    price = price_entry.get()
    
    
    if mobile_id and mobile_name and company_name and price:
        sql = "INSERT INTO Mobile (mobile_id,mobile_name,company_name,price) VALUES (%s,%s,%s,%s)"
        val = (mobile_id,mobile_name,company_name,price)
        cursor.execute(sql,val)
        conn.commit()
        status_label.config(text="Data Inserted Successfully!")
        mobile_id_entry.delete(0, END)
        mobile_name_entry.delete(0, END)
        company_name_entry.delete(0, END)
        price_entry.delete(0, END)
    else:
        status_label.config(text="Please fill all fields")

root = Tk()
root.title("Insert Data into MySQL Database")

# Create a frame for data insertion
insert_frame = Frame(root, padx=20, pady=20)
insert_frame.pack()

mobile_id_label = Label(insert_frame, text="Mobile ID:")
mobile_id_label.pack()
mobile_id_entry = Entry(insert_frame)
mobile_id_entry.pack()

mobile_name = Label(insert_frame, text="Mobile Name:")
mobile_name.pack()
mobile_name_entry = Entry(insert_frame)
mobile_name_entry.pack()

company_name = Label(insert_frame, text="Mobile Company:")
company_name.pack()
company_name_entry = Entry(insert_frame)
company_name_entry.pack()

price = Label(insert_frame, text="Monbile Price:")
price.pack()
price_entry = Entry(insert_frame)
price_entry.pack()

insert_button = Button(insert_frame, text="Insert Data", command=insert_data)
insert_button.pack()

status_label = Label(insert_frame, text="")
status_label.pack()

root.mainloop()

conn.close()

### iii. Fetch all data and print.

In [30]:
# Establishing a connection to the MySQL database
connection = sql.connect(
    host="localhost",
    user="root",
    password="11111111",
    database="Smartphone"
)

In [31]:
cursor = connection.cursor()

In [32]:
cursor.execute("USE Smartphone")

In [33]:
cursor.execute('''
SELECT * FROM Mobile
''')
result= cursor.fetchall()
for row in result:
    print(row)

('1', 'Iphone 14', 'Apple', '150000')
('2', 'Galaxy S22', 'Samsung', '100000')

In [ ]:
connection.close()