In [1]:
# Import the required library for connecting to MySQL
!pip install mysql-connector-python
import mysql.connector as sql

Requirement already satisfied: mysql-connector-python in c:\users\nisar\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\nisar\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
# Establish a connection to the MySQL server with provided credentials
mydb = sql.connect(
    host="localhost",       
    user="root",            
    password="11111111" 
)

In [3]:
# Print the connection object to check if it was successful
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014EC7E452D0>

In [4]:
# Create a cursor object to interact with the MySQL database
mycursor = mydb.cursor()

In [5]:
# Execute a SQL query to show the existing databases
mycursor.execute("SHOW DATABASES")

In [6]:
# Iterate through the result and print each database name
for i in mycursor:
    print(i)

('demo27',)
('information_schema',)
('librarydb',)
('mysql',)
('performance_schema',)
('registration_form',)
('university',)
('your_database_name',)

In [7]:
# Create a new database named 'demo13'
mycursor.execute("create database demo13")

In [8]:
# Switch to the 'demo13' database
mycursor.execute("use demo13")

In [9]:
# Create a new table named 'Customer' with columns 'name' and 'ID'
mycursor.execute("create table Customer (name VARCHAR(255),ID INT)")

In [10]:
# Execute a SQL query to show the tables in the 'demo12' database
mycursor.execute("show tables")
# Iterate through the result and print each table name
for i in mycursor:
    print(i)

('customer',)

In [11]:
# Execute a SQL query to describe the structure of the 'Customer' table
mycursor.execute("desc Customer")
# Iterate through the result and print the table structure
for i in mycursor:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('ID', b'int', 'YES', '', None, '')

In [12]:
# Insert data into the 'Customer' table: Jenny with ID 101
mycursor.execute("INSERT INTO Customer (name,id) values('jenny',101)")
# Commit the changes to the database
mydb.commit()

In [13]:
# Insert data into the 'Customer' table: John with ID 102
mycursor.execute("INSERT INTO Customer (name,id) values('john',102)")
# Commit the changes to the database
mydb.commit()

In [14]:
# mycursor.execute("INSERT INTO Customer (id, name, age) VALUES "
#                 "('Nisarg', 21), "
#                 "('Kohli', 38), "
#                 "('Rohit', 25)")
#mydb.commit()

In [15]:
# Execute a SQL query to select all rows from the 'Customer' table
mycursor.execute("SELECT * FROM Customer")
# Fetch all the results and iterate through them, printing each row
result= mycursor.fetchall()
for row in result:
    print(row)

('jenny', 101)
('john', 102)