In [1]:
# Import the required library for connecting to MySQL
!pip install mysql-connector-python
import mysql.connector as sql

Requirement already satisfied: mysql-connector-python in c:\users\nisar\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\nisar\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
# Establish a connection to the MySQL server with provided credentials
mydb = sql.connect(
    host="localhost",
    user="root",
    password="11111111",
    database="onlinestoredb"
)

In [3]:
# Print the connection object to check if it was successful
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002010DD1DF60>

In [4]:
# Create a cursor object to interact with the MySQL database
mycursor = mydb.cursor()

In [5]:
# Execute a SQL query to show the existing databases
mycursor.execute("show databases")

In [6]:
# Iterate through the result and print each database name
for i in mycursor:
    print(i)

('ap04092023',)
('bankdb',)
('blogplatformdb',)
('company',)
('create_and_fetch',)
('customerorderdb',)
('data',)
('databasedemo',)
('information_schema',)
('it_company',)
('librarydb',)
('mysql',)
('onlinestoredb',)
('performance_schema',)
('registration_form',)
('socialmedia',)
('store',)
('universitydb',)

In [7]:
# Switch to the database
mycursor.execute("use onlinestoredb")

In [8]:
# Execute a SQL query to show the tables in the database
mycursor.execute("show tables")
# Iterate through the result and print each table name
for i in mycursor:
    print(i)

('customers',)
('products',)
('purchases',)

In [9]:
# Execute a SQL query to describe the structure of the table
mycursor.execute("desc customers")
# Iterate through the result and print the table structure
for i in mycursor:
    print(i)

('CustomerID', b'int', 'NO', 'PRI', None, '')
('FirstName', b'varchar(50)', 'YES', '', None, '')
('LastName', b'varchar(50)', 'YES', '', None, '')
('Email', b'varchar(100)', 'YES', '', None, '')
('Phone', b'varchar(20)', 'YES', '', None, '')
('Address', b'varchar(255)', 'YES', '', None, '')

In [10]:
# Execute a SQL query to select all rows from the table
mycursor.execute("SELECT * FROM customers")
# Fetch all the results and iterate through them, printing each row
result= mycursor.fetchall()
for row in result:
    print(row)

(1, 'John', 'Doe', 'john.doe@email.com', '123-456-7890', '123 Main St')
(2, 'Jane', 'Smith', 'jane.smith@email.com', '987-654-3210', '456 Elm St')