In [1]:
# Install the ipython-sql package using pip (if not already installed)
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\nisar\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (2.0.20)
Requirement already satisfied: ipython-genutils in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\nisar\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nisar\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: wcwidth in c:\users\nisar\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nisar\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\nisar\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\nisar\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\nisar\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)

In [2]:
# Import necessary libraries
import pandas as pd  # Import the pandas library for data manipulation
import sqlite3      # Import the sqlite3 library for SQLite database connectivity

In [3]:
# Create a DataFrame named 'df' with player information
df = pd.DataFrame({
    'name': ['Dhoni', 'Rohit', 'Virat'],   # Player names
    'age': [40, 35, 30],                 # Player ages
    'city': ['Jharkhand', 'Mumbai', 'Delhi']  # Player cities
})

In [4]:
# Display the DataFrame 'df'
df

    name  age       city
0  Dhoni   40  Jharkhand
1  Rohit   35     Mumbai
2  Virat   30      Delhi

In [5]:
# Establish a connection to an SQLite database named 'database.db'
cnn = sqlite3.connect('database.db')

In [6]:
# Write the contents of the DataFrame 'df' to an SQLite table named 'players'
df.to_sql('players', cnn)

3

In [7]:
# Load the SQL extension for IPython, enabling SQL commands
%load_ext sql

In [8]:
# Connect to the 'database.db' SQLite database
%sql sqlite:///database.db

In [9]:
# Execute an SQL query to select all records from the 'players' table

In [10]:
%%sql
SELECT * FROM players

Running query in 'sqlite:///database.db'

+-------+-------+-----+-----------+
| index |  name | age |    city   |
+-------+-------+-----+-----------+
|   0   | Dhoni |  40 | Jharkhand |
|   1   | Rohit |  35 |   Mumbai  |
|   2   | Virat |  30 |   Delhi   |
+-------+-------+-----+-----------+