In [1]:
# Install the ipython-sql library if not already installed
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\nisar\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: sqlparse in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython-genutils in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\nisar\anaconda3\lib\site-packages (from ipython-sql) (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\nisar\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nisar\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: stack-data in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: matplotlib-inline in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\nisar\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: wcwidth in c:\users\nisar\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nisar\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\nisar\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\nisar\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\nisar\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
# Load the sql extension for Jupyter Notebook
%load_ext sql

In [3]:
# Create a SQLite database connection
%sql sqlite://

In [4]:
%%sql
CREATE TABLE Employee (
    firstname VARCHAR(50),
    lastname VARCHAR(50)
);
INSERT INTO Employee (firstname, lastname) VALUES ('Nisarg', 'Patel');
INSERT INTO Employee (firstname, lastname) VALUES ('Virat', 'Kohli');

Running query in 'sqlite://'

1 rows affected.

1 rows affected.

++
||
++
++

In [6]:
%%sql 
SELECT * FROM Employee;

Running query in 'sqlite://'

+-----------+----------+
| firstname | lastname |
+-----------+----------+
|   Nisarg  |  Patel   |
|   Virat   |  Kohli   |
+-----------+----------+

In [7]:
# Store the result of the previous query in the variable "show_all_results"
show_all_results = %sql SELECT * FROM Employee;

Running query in 'sqlite://'

In [8]:
# Display the result of the "show_all_results" query
show_all_results

+-----------+----------+
| firstname | lastname |
+-----------+----------+
|   Nisarg  |  Patel   |
|   Virat   |  Kohli   |
+-----------+----------+

In [9]:
%%sql 
SELECT firstname FROM Employee;

Running query in 'sqlite://'

+-----------+
| firstname |
+-----------+
|   Nisarg  |
|   Virat   |
+-----------+

In [10]:
# Store the result of the previous query in the variable "show_firstname"
show_firstname = %sql SELECT firstname FROM Employee;

Running query in 'sqlite://'

In [11]:
# Display the result of the "show_firstname" query
show_firstname

+-----------+
| firstname |
+-----------+
|   Nisarg  |
|   Virat   |
+-----------+

In [12]:
%%sql 
SELECT lastname FROM Employee;

Running query in 'sqlite://'

+----------+
| lastname |
+----------+
|  Patel   |
|  Kohli   |
+----------+

In [13]:
# Store the result of the previous query in the variable "show_lastname"
show_lastname = %sql SELECT lastname FROM Employee;

Running query in 'sqlite://'

In [14]:
# Display the result of the "show_lastname" query
show_lastname

+----------+
| lastname |
+----------+
|  Patel   |
|  Kohli   |
+----------+