In [1]:
# First, install the required libraries using pip
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\nisar\anaconda3\lib\site-packages (2.0.20)
Requirement already satisfied: mysql-connector-python in c:\users\nisar\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nisar\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\nisar\anaconda3\lib\site-packages (from sqlalchemy) (4.4.0)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\nisar\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine, text, select

In [3]:
# Database connection details
db_username = 'root'
db_password = '11111111'
db_host = 'localhost' 
db_port = '3306'       
db_database = 'OnlineStoreDB'

In [4]:
# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}:{db_port}/{db_database}')

# Customers

In [5]:
# Create a SQLAlchemy select statement for the table
customers  = text("SELECT * FROM Customers")

In [6]:
# Execute the select statement and fetch the data into a DataFrame
with engine.connect() as connection:
    result = connection.execute(customers)
    customers_df = pd.DataFrame(result.fetchall(), columns=result.keys())

In [7]:
# Print the DataFrame containing the fetched data
print(customers_df)

   CustomerID FirstName LastName                 Email         Phone  \
0           1      John      Doe    john.doe@email.com  123-456-7890
1           2      Jane    Smith  jane.smith@email.com  987-654-3210

       Address
0  123 Main St
1   456 Elm St

In [8]:
# Display the DataFrame in a Jupyter Notebook or compatible environment
display(customers_df)

,CustomerID,FirstName,LastName,Email,Phone,Address
0,1,John,Doe,john.doe@email.com,123-456-7890,123 Main St
1,2,Jane,Smith,jane.smith@email.com,987-654-3210,456 Elm St

# Products

In [9]:
# Create a SQLAlchemy select statement for the table
products = text("SELECT * FROM Products")

In [10]:
# Execute the select statement and fetch the data into a DataFrame
with engine.connect() as connection:
    result = connection.execute(products)
    products_df = pd.DataFrame(result.fetchall(), columns=result.keys())

In [11]:
# Print the DataFrame containing the fetched data
print(products_df)

   ProductID ProductName   Price  \
0        101  Smartphone  599.99
1        102      Laptop  999.99
2        103  Headphones   89.99

                                         Description
0     High-quality smartphone with advanced features
1         Powerful laptop for work and entertainment
2  Noise-canceling headphones with great sound qu...

In [12]:
# Display the DataFrame in a Jupyter Notebook or compatible environment
display(products_df)

,ProductID,ProductName,Price,Description
0,101,Smartphone,599.99,High-quality smartphone with advanced features
1,102,Laptop,999.99,Powerful laptop for work and entertainment
2,103,Headphones,89.99,Noise-canceling headphones with great sound qu...