In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
db_username = 'root'
db_password = '11111111'
db_host = 'localhost'
db_port = '3306'
db_database = 'LibraryDB'

In [3]:
# Create an SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}:{db_port}/{db_database}')

In [4]:
# Define the SQL query
books_query = text("SELECT * FROM Books")

In [5]:
# Retrieve data from the database in chunks
chunk_size = 5  # You can adjust this value based on your needs
dataframes = []

In [6]:
with engine.connect() as connection:
    result = connection.execution_options(stream_results=True).execute(books_query)  # Use stream_results=True
    while True:
        chunk = result.fetchmany(chunk_size)
        if not chunk:
            break
        df = pd.DataFrame(chunk, columns=result.keys())
        dataframes.append(df)

In [7]:
# Concatenate the chunks into a single Pandas DataFrame
books_df = pd.concat(dataframes)

In [8]:
# Now, books_df contains the data from the "Books" table in chunks
books_df

   BookID                   Title ISBN  PublicationYear  AuthorID
0     101  The Art of Programming  977             2022         1
1     102     Data Science Basics  978             2021         2
2     103     Web Development 101  979             2023         1