# GUJARAT UNIVERSITY

# MSC IT-DATA MANAGEMENT & VISUAL INSIGHTS(5 YEARS INTEGRATED)

# TERM END EXAMINATIONS

# SEMESTER 5

### SUBJECT NAME: DATA ANALYTICS PROGRAMMING LANGUAGE

**TIME: 3HRS**

**MAX MARKS: 70**

**CODE:DMVIBSC25**

**Important Note:**
 - Q1 & Q2 are compulsory and you can attempt any two questions from Q3, Q4 & Q5.
 - Write clearly and concisely.
 - File name should be "FullEnrollMentNo_StundentName_DAPL_SEM5_DATA"
 - Import required Libraries

### 1.	Explain the concepts of DataFrame and Series in the context of the pandas library in Python. Provide examples of how these data structures are used for data manipulation also craete the dataframe ith 5 columns "name","marks", "City","country","grade" add the 30 obesrvations in it. (30 marks)

In [ ]:
# CODE HERE

### 2.	Perform the Univariate Analysis on given dataset,Use appropriate visualizations to explore relationships between variables and draw meaningful conclusions.(DATA1.CSV)(20 Marks)

In [ ]:
# CODE HERE

### 3.	Perform the Bivariate Analysis on Given dataset,Use appropriate visualizations to explore relationships between variables and draw meaningful conclusions.(DATA2.CSV)(10 Marks)

In [ ]:
# CODE HERE

### 4. Summarize the key findings from your univariate and bivariate analyses. Discuss any trends, patterns, or insights that you discovered in the data (Perform using  Q2 and 3). (10 Marks)

In [ ]:
# CODE HERE

### 5. Perform the following Tasks (10 Marks)	
- Create Series using the Dictionary WITH EXPLAINATION HOW YOU PERFROM THIS.
- Create Dataframe Using Dictionary WITH EXPLAINATION HOW YOU PERFROM THIS.
- Perform Concatination on two dataframe (Create 2 sample tables with 2 columns nad 2 columns each) Horizontal & Verticle concatination.

In [ ]:
# CODE HERE

# END